/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 

html {
    background-color: rgb(7, 25, 46);
}

body {
    height: 120vh;
    margin: 20px; /* Default value was 0 */

    display: flex;
    flex-direction: column;
  }


ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    gap: 3px;
  }


/* MULTIPLE STYLES */


  header, main, footer {
    border: 1px solid red;
  }


  header, footer {
    height: 35px; /* Adjust this height as needed */
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    
  }


/* HEADER CUSTOM STYLES */

  header {
    display: flex;
  }

    .header-logo {
        border: 1px solid red;
        margin-right: auto;
        font-size: 24px;
        
    }

    .header-links {
        border: 1px solid red;
        
    }

        
/* MAIN CONTENT STYLE */

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }


    .content-a,
    .content-b,
    .content-c,
    .content-d {
        height: 25%;
        border: 1px solid purple;
    }

    .content-a {
        background-color: #1F2937;

        display: flex;
        flex-grow: 1;
    }
        .content-a .left {
            border: 2px solid green;
            height: 100%;
        }

        .content-a .right {
            border: 2px solid green;
            height: 100%;
        }


 /*    .content-a {
        order: 2;
    }

    .content-b {
        order: 3;
    }

    .content-c {
        order: 1;
    }

    .content-d {
        order: 4;
    } */










/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
    background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: yellowgreen; /* Red */
        }
    }
    





/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
    width: 960px;
    margin: 0 auto;
    }
}