/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 

html {
    background-color: rgb(7, 25, 46);
}

body {
    height: 120vh;
    margin: 20px; /* Default value was 0 */

    display: flex;
    flex-direction: column;
  }


ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    gap: 3px;
  }


/* MULTIPLE STYLES */


  header, main, footer {
    border: 1px solid red;
  }


  header, footer {
    height: 35px; /* Adjust this height as needed */
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    
  }


/* HEADER CUSTOM STYLES */

  header {
    display: flex;
  }

    .header-logo {
        border: 1px solid red;
        margin-right: auto;
        font-size: 24px;
        
    }

    .header-links {
        border: 1px solid red;
        
    }

        
/* MAIN CONTENT STYLE */

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }


    .content-a,
    .content-b,
    .content-c,
    .content-d {
        height: 25%;
        border: 1px solid purple;
    }

    .content-a {
        background-color: #1F2937;

        display: flex;
        flex-grow: 1;
    }
        .content-a .left {
            border: 2px solid green;
            height: 100%;
            width: 50%;
            color: #E5E7EB;
            /* padding: 5px; */

            display: flex;
            flex-direction: column;
            gap: 5px;
          
        }
            .title {
                border: 2px solid pink;
                width: 200px;
            }

            .subtitle {
                border: 2px solid purple;
                width: 300px;
            }

            .sign-up-button {
                /* border: 2px solid red; */
                height: 20px;
                width: 80px;
            }

        .content-a .right {
            border: 2px solid green;
            height: 100%;
            width: 50%;
            background-color: grey;
            color: white;

            align-items: center;
            justify-content: center;
        }

    .content-b {
        border: 2px solid white;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

        .top-information {
            border: 2px solid red;
            height: 25%;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content-b-main {
            border: 2px solid red;
            height: 75%;

            display: flex;
            flex-grow: 1;

        }

            .bottom-container-a,
            .bottom-container-b,
            .bottom-container-c,
            .bottom-container-d {
                border: 2px solid blue;
                width: 25%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }

                .square-a,
                .square-b,
                .square-c,
                .square-d {
                    border: 2px solid brown;
                    height: 80px;
                    width: 80px;
                    border-radius: 20px;
                    background-color: white;
                }

                p {
                    border: 2px solid black;
                    font-size: 12px;
                }

 /*    .content-a {
        order: 2;
    }

    .content-b {
        order: 3;
    }

    .content-c {
        order: 1;
    }

    .content-d {
        order: 4;
    } */


    .content-c {
        border: 2px solid pink;

        display: flex;
        flex-direction: column;
        }

        .inspiration-quote {
            border: 2px solid black;
            height: 80%;
            font-style: italic;

            display: flex;
            justify-content: center;
            align-items: center;

        }

        .inspiration-quote-author {
            border: 2px solid black;
            height: 20%;
            
            display: flex;
            justify-content: end;
            align-items: center;
        }


    .content-d {
        border: 5px solid rgb(131, 7, 125);

        display: flex;
        flex-grow: 1;
        

    }
        .advertise-container {
            border: 2px solid black;
            padding: 40px;

            display: flex;
            width: 100%;

        }

            .advertise-container-left {
                border: 2px solid red;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .advertise-container-right {
                border: 2px solid white;
                width: 20%;

                display: flex;
                justify-content: start;
                align-items: center;
            }

  footer {
        border: 2px solid red;

        display: flex;
        justify-content: center;
        align-items: center;
    }






/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
    background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: yellowgreen; /* Red */
        }
    }
    





/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
    width: 960px;
    margin: 0 auto;
    }
}